*.iml
*.sh
*.txt
*.gz
*.xml
assignment1/frameworkpython
assignment1/README.md
assignment1/cs231n/__init__.py
assignment1/cs231n/vis_utils.py
assignment1/cs231n/gradient_check.py
assignment1/cs231n/data_utils.py
assignment1/cs231n/classifiers/__init__.py
assignment1/.ipynb_checkpoints/features-checkpoint.ipynb
assignment1/.ipynb_checkpoints/knn-checkpoint.ipynb
assignment1/.ipynb_checkpoints/softmax-checkpoint.ipynb
assignment1/.ipynb_checkpoints/two_layer_net-checkpoint.ipynb
assignment1/.ipynb_checkpoints/svm-checkpoint.ipynb
assignment2/.ipynb_checkpoints/BatchNormalization-checkpoint.ipynb
assignment2/.ipynb_checkpoints/FullyConnectedNets-checkpoint.ipynb
assignment2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
assignment2/cs231n/cs231n/im2col_cython.cpython-36m-x86_64-linux-gnu.so
assignment2/cs231n/datasets/cifar-10-batches-py/batches.meta
assignment2/cs231n/datasets/cifar-10-batches-py/data_batch_1
assignment2/cs231n/datasets/cifar-10-batches-py/data_batch_2
assignment2/cs231n/datasets/cifar-10-batches-py/data_batch_3
assignment2/cs231n/datasets/cifar-10-batches-py/data_batch_4
assignment2/cs231n/datasets/cifar-10-batches-py/data_batch_5
assignment2/cs231n/datasets/cifar-10-batches-py/readme.html
assignment2/cs231n/datasets/cifar-10-batches-py/test_batch
